services:
  backend:
    build: .
    container_name: python_backend
    restart: always
    tty: true
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      rustfs:
        condition: service_healthy
    environment:
      DJANGO_SETTINGS_MODULE: config.settings.prod
      POSTGRES_HOST: db
      POSTGRES_DB: django_db
      POSTGRES_USER: django
      POSTGRES_PASSWORD: django
      S3_ENDPOINT_URL: http://rustfs:9000
      S3_ACCESS_KEY: rustfsadmin
      S3_SECRET_KEY: rustfsadmin
      S3_BUCKET_NAME: media

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: django_db
      POSTGRES_USER: django
      POSTGRES_PASSWORD: django
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U django"]
      interval: 10s
      timeout: 5s
      retries: 5

  rustfs:
    image: rustfs/rustfs:latest
    container_name: rustfs_storage
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      RUSTFS_ACCESS_KEY: rustfsadmin
      RUSTFS_SECRET_KEY: rustfsadmin
    command: /data
    volumes:
      - rustfs_data:/data
    healthcheck:
      test: >-
        curl -so /dev/null http://localhost:9000/ || exit 1
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  rustfs_data:
