services:
  backend:
    build: .
    container_name: python_ackend
    restart: always
    volumes:
      - backend_data:/app
    tty: true
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  backend_data:
